body{
    margin: 0px; 
    background-color:#ffe6a7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }



  .contenier{
 background-color: #99582a; 
 width:90%;  
 height: 90%;
 height: 290; 
 padding: 12px;  
 display: flex; 
 margin: 10px;
justify-content: space-between;
 border: 5px,black; 
 border-right-style: dashed; 
 border-radius: 10px; 
box-shadow: 12px,12px,grey; 
  } 
  .iteam:hover{
   background-color: grey; 
   border-radius: 10px;
  }

  h1{
    font-size: x-larges;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
  }  
  h4{
    font-family: 'Alfa Slab One', cursive;

    font-family: 'Edu NSW ACT Foundation', cursive;
  }  
  .footer{
    background-color: #333;
  }  
  .up{
    position: fixed;
    bottom: 1px;
    right: 50px ;
    text-decoration: none;
    text-align: center; line-height: 50px;
    color: #355070;
    font-size: 22px;
padding-bottom: 20px;
}
 
  